.App {
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  width: 100%;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

